body{
    min-height: 100vh!important;
    background-image: url("https://cis.del.ac.id/assets/14f4c09b/img/squairy_light.png");
}
.font-sans {
    font-family: 'DM Sans', Arial, sans-serif!important;
}
.navbar-toggler {
    font-size: var( --bs-body-font-size);
    border: none!important;
}
.highlight-warn{
    background: #ffeca878;
    color: orange;
    padding: 15px 20px;
    border: 2px solid yellow;
    border-radius: 5px;
}
.danger-tab .active {
    background-color: var(--bs-danger);
    color : white!important;
}
.fast-action{
    margin : 10px 0;
}
.el-link{
    text-decoration: none;
}
.dash-wrapper{
    width: 1120px;
}
.sidebar ul li.nav-item {
    padding: 5px 0px 0px 20px;
    color: black;
}
.sidebar ul li.nav-item a {
    color: black;
}
.sidebar ul li.nav-item:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    background-color: #e2ffb8;
    color: white!important;
}
.main-content{
    min-height: calc(100vh - 56px);
}



.card{
    border-radius: 2.5px;
}
.sidebar{
    width: 250px;
    z-index: 999;
    background: #f5f5f5;
    border-right: 1px solid rgba(0, 0, 0, 0.17);
}
@media(max-width: 990px){
    .sidebar{
        display: none;
    }
}
@media(min-width: 990px) {
    .navbar-nav.top{
        display: none;
    }
}
