body{
    min-height: 100vh!important;
}
.font-sans {
    font-family: 'DM Sans', Arial, sans-serif!important;
}
.navbar-toggler {
    font-size: var( --bs-body-font-size);
    border: none!important;
}
