body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #000;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #262424;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #000;
  font-family: 'Times New Roman';
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  background-color: #4EAD8B;
  line-height: 0;
}

.back-to-top:hover {
  background: #4EAD8B;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    .header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    }

    .header.header-scrolled a{
    color: black;
    }

    .header.header-scrolled {
    background: white;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    }

    .header .logo span {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
    }

    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /**
    * Desktop Navigation
    */
    .navbar {
    padding: 0;
    }

    .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    }

    .navbar li {
    position: relative;
    }

    .navbar a,
    .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
    color: rgb(117, 107, 107);
    }

    .navbar .getstarted,
    .navbar .getstarted:focus {
    background: #0b7435;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    }

    .navbar .getstarted:hover,
    .navbar .getstarted:focus:hover {
    color: #fff;
    background: #4EAD8B;
    }

    .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #858a87ce;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
    }

    .navbar .dropdown ul li {
    min-width: 200px;
    }

    .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;

    }

    .navbar .dropdown ul a i {
    font-size: 12px;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
    color: rgb(117, 107, 107);
    }

    .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
    }

    @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
    }

    /**
    * Mobile Navigation
    */
    .mobile-nav-toggle {
    color: #000 ;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    }

    .mobile-nav-toggle.bi-x {
    color: #fff;
    }

    @media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
    }

    .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(204, 215, 235, 0.9);
    transition: 0.3s;
    }

    .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    }

    .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    }

    .navbar-mobile a,
    .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #000;
    }

    .navbar-mobile a:hover,
    .navbar-mobile .active,
    .navbar-mobile li:hover>a {
    color: #4EAD8B;
    }

    .navbar-mobile .getstarted,
    .navbar-mobile .getstarted:focus {
    margin: 15px;
    }

    .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }

    .navbar-mobile .dropdown ul li {
    min-width: 200px;
    }

    .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
    }

    .navbar-mobile .dropdown ul a i {
    font-size: 12px;
    }

    .navbar-mobile .dropdown ul a:hover,
    .navbar-mobile .dropdown ul .active:hover,
    .navbar-mobile .dropdown ul li:hover>a {
    color: #4EAD8B;
    }

    .navbar-mobile .dropdown>.dropdown-active {
    display: block;
    }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: #2f4a42;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  font-family: Garamond, serif;
}

.hero h2 {
  color: #dacdcd;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: Times, "Times New Roman", Georgia, serif;
}


@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #0b7435;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #4EAD8B;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.values .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

.values .box h3 {
  font-size: 24px;
  color: #0b7435;
  font-weight: 700;
  margin-bottom: 18px;
}

.values .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
}



.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: #0b7435;
  color: #fff;
}


/*--------------------------------------------------------------
# Our Services Section
--------------------------------------------------------------*/
.services .service-item {
  padding: 40px;
  background: #fff;
  height: 100%;
}

.services .service-item h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #eeeeee;
  transition: 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}


.services .service-item:hover h3 {
  border-color: var(--color-primary);
}

@media (max-width:500px) {
  .services .service-item {
  padding: 20px;
  background: #fff;
  height: 100%;
}
  .services .service-item h3{
  font-size: 15px;
  display: flex;
  justify-content: center;
}
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}


.footer .footer-top {
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}



.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #2f4a42;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;

}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;

}

/*--------------------------------------------------------------
# Authentication
--------------------------------------------------------------*/
.card .card-header,.card .card-body,.card .card-footer
{
  background-color: transparent;
  padding: 20px 25px;
}

.card .card-header h4
{
  font-size: 16px;
  line-height: 28px;
  padding-right: 10px;
  margin-bottom: 0;
}

.btn
{
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  padding: .3rem .8rem;
  letter-spacing: .5px;
}

.btn-primary,.btn-primary.disabled
{
  box-shadow: 0 2px 6px #2f4a42;
  background-color: #2f4a42;
  border-color: #2f4a42;
}

.btn-primary:active,.btn-primary:hover,.btn-primary.disabled:active,.btn-primary.disabled:hover
{
  background-color: #467265 !important;
}

body
{
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Raleway', 'Segoe UI', arial;
}

.login-brand
{
  margin: 20px 0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #666;
  text-align: center;
}

body.layout-4 .card,body.layout-4 .article
{
  background-color: #fff;
  border-color: #fff;
}